.bottomPromoPic {
    display: flex;
    width: 600px;
}

.bottomPromoText h2 {
    display: flex;
    flex-direction: column;

    font: normal normal bold 42px/11px 'Nunito';
    letter-spacing: 0.84px;
    color: #6C6C6C;
    opacity: 1;
}

.bottomPromo {
    display: flex;
    flex-direction: column;
}

.bottomPromoText {
    display: flex;
    flex-direction: column;
}

