.bottomPromoPic {
    display: flex;
    width: 625px;
    height: 417px;
}

.bottomPromoText h2 {
    display: flex;
    flex-direction: column;
    font-size: 35px;
    font-family: 'Open Sans';
    letter-spacing: 0.84px;
    color: #6C6C6C;
    opacity: 1;
}

.bottomPromo {
    display: flex;
}

.bottomPromoText {
    display: flex;
    flex-direction: column;
    padding: 3em;
}

.bottomPromoText h3 {
    font-family: 'Open Sans';
    font-size: 25px;
    color: #6C6C6C;
}

.bottomPromoText p {
    color: #6C6C6C;
    font: 'Open Sans';
    font-size: 17px;
}
